body {
    display: flex;
}

textarea, input, select{
    border-radius: 5px;
}

textarea {
}

select{
    display: block;
    margin: 10px;
}

.container {
    min-width: 30%;
}

.container__decrypt {
    padding: 3%;
    min-width: 50%;
}